<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.2.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
http://www.springframework.org/schema/jdbc
http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <!--配置核心事务过滤器-->
    <bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--依赖数据源-->
        <property name="dataSource" ref="ds"></property>
    </bean>
    <!--配置通知-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="save*" isolation="REPEATABLE_READ" read-only="false" propagation="REQUIRED"/>
            <tx:method name="insert*" isolation="REPEATABLE_READ" read-only="false" propagation="REQUIRED"/>
            <tx:method name="create*" isolation="REPEATABLE_READ" read-only="false" propagation="REQUIRED"/>
            <tx:method name="add*" isolation="REPEATABLE_READ" read-only="false" propagation="REQUIRED"/>
            <tx:method name="update*" isolation="REPEATABLE_READ" read-only="false" propagation="REQUIRED"/>
            <tx:method name="delete*" isolation="REPEATABLE_READ" read-only="false" propagation="REQUIRED"/>
            <tx:method name="query*" isolation="REPEATABLE_READ" read-only="true" propagation="REQUIRED"/>
            <tx:method name="find*" isolation="REPEATABLE_READ" read-only="true" propagation="REQUIRED"/>
            <tx:method name="get*" isolation="REPEATABLE_READ" read-only="true" propagation="REQUIRED"/>
            <tx:method name="list*" isolation="REPEATABLE_READ" read-only="true" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>
    <!--配置织入-->
    <aop:config>
        <aop:pointcut id="pc" expression="execution(* com.yh.service..*ServiceImpl.*(..))"></aop:pointcut>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="pc"></aop:advisor>
    </aop:config>
</beans>